<div class="card">
    <div class="card-body">
        <p>Filme:</p>
        <div class="list-group">
            <button *ngFor="let movie of movies"
                    type="button"
                    class="list-group-item list-group-item-action"
                    data-bs-toggle="modal"
                    data-bs-target="#bookDetailsModal"
										(click)="selectMovie(movie)">
                <strong>Id:</strong> {{movie.id }}
                <strong>Titel:</strong> {{movie.title}}
                <strong>Speicherort:</strong> {{movie.location}}
            </button>
        </div>
    </div>
</div>
<br>
<nav class="d-flex justify-content-center ">
    <ul class="pagination">
        <li class="page-item">
            <button class="page-link" (click)="navToPage(1)"
            [ngClass]="{'disabled' : !canNavPrevious}">1</button>
        </li>
        <li class="page-item">
            <button class="page-link" (click)="navToPage(currentPage - 1)"
            [ngClass]="{'disabled' : !canNavPrevious}"><</button>
        </li>
        <li class="page-item">
            <button class="page-link" (click)="navToPage(currentPage-1)"
            [ngClass]="{'disabled': !canNavPrevious}">{{currentPage-1}}</button>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{currentPage}}</span>
        </li>
        <li class="page-item">
            <button class="page-link" (click)="navToPage(currentPage+1)"
            [ngClass]="{'disabled': !canNavNext}">{{currentPage+1}}</button>
        </li>
        <li class="page-item">
            <button class="page-link" (click)="navToPage(currentPage+1)"
            [ngClass]="{'disabled' : !canNavNext}">></button>
        </li>
        <li class="page-item">
            <button class="page-link" (click)="navToPage(maxPages+1)"
            [ngClass]="{'disabled' : !canNavNext }">{{maxPages+1}}</button>
        </li>
    </ul>
</nav>
<!-- <app-movie-details-pop-up [selectedBook]="selectedBook"
[currentPage]="currentPage"
aria-hidden="true"></app-movie-details-pop-up> -->