<li class="list-group-item d-flex justify-content-between align-items-center input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping" style="width: 50%;">Erscheinungsjahr:</span>
  <input type="number"
  class="form-control" 
  aria-describedby="addon-wrapping"
  autocomplete="off"
  value="1"
  min="1"
  (change)="changeValues($event, 'RY')">
</li>
<li class="list-group-item d-flex justify-content-between align-items-center input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping" style="width: 50%;">Seitenanzahl:</span>
  <input type="number"
  class="form-control" 
  aria-describedby="addon-wrapping"
  autocomplete="off"
  value="1"
  min="1"
  (change)="changeValues($event, 'PC')">
</li>
<li class="list-group-item d-flex justify-content-between align-items-center input-group ">
  <div class="form-floating">
    <textarea class="form-control" 
    placeholder="Beschreibung"
    id="floatingTextarea"
    autocomplete="off"
    (change)="changeValues($event, 'D')"></textarea>
    <label for="floatingTextarea">Beschreibung</label>
  </div>
</li>