<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping" style="width: 50%;">
                Vorname:
            </span>
            <input type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
            autocomplete="off"
            formControlName="firstName">
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping" style="width: 50%;">
                Nachname:
            </span>
            <input type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
            autocomplete="off"
            formControlName="name">
        </li>
        <li class="list-group-item input-group d-flex">
            <span class="input-group-text"
            style="width: 50%;">
                Geschlecht:
            </span>
            <select class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
            name="gender"
            formControlName="gender">
                <!-- <option selected>Bitte wählen</option> -->
                <option>Frau</option>
                <option>Mann</option>
                <option>Divers</option>
            </select>
        </li>
        <li class="list-group-item input-group d-flex">
            <span class="input-group-text"
            style="width: 50%;">
                Geburtsdatum:
            </span>
            <input 
            formControlName="birthDate"
            type="text"
            name="datepicker_input"
            class="datepicker_input form-control"
            placeholder="DD.MM.YYYY"
            autocomplete="off"
            (click)="birthDateClick($event)">
        </li>
    </ul>
    <div class="d-flex justify-content-end">
        <button type="submit"
        class="btn btn-primary mt-3"
        [disabled]="addForm.invalid">
            Interpret hinzufügen
        </button>
    </div>
</form>