<div class="card">
    <div class="card-body">
        <div class="form-floating mb-1">
            <select class="form-select" 
            id="floatingSelect" 
            aria-label="Floating label select example"
            name="newItemType"
            [ngModel]="newItemType.item"
            (change)="changedMediaType($event)">
                <option *ngFor="let item of addItems"
                [value]="item.id">
                    {{item.item}}
                </option>
            </select>
            <label for="floatingSelect">Hinzufügende Objekt</label>
        </div>
        <app-book-add-form *ngIf="bookAddFormIsShown"/>
        <app-song-add-form *ngIf="songAddFormIsShown"/>
        <app-movie-add-form *ngIf="movieAddFormIsShown"/>
        <app-musicAlbum-add-form *ngIf="musicAlbumAddFormIsShown"/>
        <app-interpret-form *ngIf="interpretAddFormIsShown"/>
    </div>
</div>
<!-- <div class="card">
    <div class="card-body">
        MODEL: {{newItemType | json}}
        <br>
        FORM: {{form.value | json}}
    </div>
</div> -->